*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  background-color: #ddd;
  padding: 20px 40px;
}
header h1{
  margin-bottom: 10px;
}

header p span {
  background-color: black;
  color: white;
  padding: 3px 5px;
  border-radius: 5px;
}

.container {
  padding: 20px 40px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.producto {
  border: 0.5px solid #ddd;
  padding: 20px;
  width: 33%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.producto img{
  width: 200px;
}
.producto h5{
  text-align: center;
}

.producto h5 span{
  background-color: rgb(255, 178, 178);
  padding: 3px;
  font-weight: lighter;
  color: rgb(155, 0, 0);
  border-radius: 3px;
}
.producto button{
  padding: 5px;
  text-transform: uppercase;
}