body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: rgb(255, 255, 255);
  font-family: "Crafty Girls", cursive;
  height: 100vh;
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}

.contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tarjeta {
  margin: 1rem;
  border-radius: 5px;
  box-shadow: 5px 5px 8px;
  border: 8px solid rgb(54, 53, 53);
  transition: scale 1s;
}

.tarjeta:hover {
  scale: 1.2;
  cursor: pointer;
  transition: scale 1s;
}
