.container{
    overflow: auto;
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width : 414px) {
    .container{
        height: 110vh;
    }

}

@media screen and (max-width : 414px) and (min-height: 700px) {
    .container{
        height: 100vh;
    }

}

@media screen and (max-width : 767px) {
    .B{
        display: flex;
        flex-direction: column;
        gap: 10px
    }
    .B:nth-child(1){
        margin-bottom: 15px;
    }   
    
}

@media screen and (min-width : 768px) {
    
    
    .A{
        display: flex;
        gap: 16px;
    }
    
    .B{
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: space-between;
    }
    
    
}