*{
    margin: 0;
    padding: 0;
}


.nav-top{
    width: 100%;
    height: auto;
    display: flex;
    background-color: black;
    position: center; 
    color: white;
}

.nav-top div{
justify-content:flex-start;
}
.nav-top ul{
    justify-content: flex-end;
}

.barra a{
    color: white;
    list-style: none;
}