*{
margin:0px;
padding: 0px;
}
header h4 {
    position: absolute;
    width: 100%;
    height: 38px;
    left: 0px;
    top: 0px;
    background: #1CD1B0;
}
header h1{
    position: absolute;
width: 100%;
height: 101px;
left: 0px;
top: 38px;
background: #00669F;
box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
}
body{
    background-color: #E5E5E5;
}
article{
    width: 300px;
    height: 500px;
    justify-content: center;
    margin-top: 200px;
    text-align: center;
    box-sizing: border-box;
    display: inline-block;
    margin-right: 50px;
    margin-left: 70px;
    padding: 5px;
    background-color: #F3F3F3;
    border-radius: 8px;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
}

.fondo{
    position: relative;
    right: 10px;
    bottom:50px;
    padding: 5px;
}
article h2{
    position: relative;
    bottom: 30px;
}
article p {
    text-align: justify;
    padding: 5px;
}

.fotoPerfil{
    position: relative;
    bottom: 120px;
    border-radius: 65px;
}

.megusta{
    position: relative;
    bottom: 65%;
    right: 55%;
}

button{
    width: 300x;
height: 30px;
padding: 5px;
left: 484px;
top: 769px;
font-size: 15px;
line-height: 18px;
text-align: center;
color: #F3F3F3;
background-color: #00669F;
border: none;
}

article div{
    position: relative;
    bottom: 60px;
}

footer{
    position: absolute;
width: 100%;
height: 51px;
left: 0px;
top: 972px;

background: #00669F;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}