@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    box-sizing: border-box;
}
:root{
 --primary-color:#C70039;
 --secondary-color:grey;
}
body{
  background:#222;
  font-family: 'Roboto';
  color:#f2f2f2;
  cursor: url("../img/cursor-arrow.png"), auto;
}

/* Numeración automática */

body {
    counter-reset: cuenta-section;
}
section::before {
    content: "Sección " counter(cuenta-section)" - ";  
    counter-increment: cuenta-section;
    color: var(--primary-color);
    font-weight: bold;
}
/* , upper-alpha , upper-roman*/

/* LISTAS */
/* ====== */

/*     Menú     */
/* ------------ */
/* Menú  */
nav ul {
    list-style: none;
    padding: 0px;
    margin-left: 10px;
}
nav ul li {
    display: inline-block; 
    margin-right: 30px;
}

/** Agrego un elemento ★ al html según el estado del <li> **/
/* ... a quien | cuando          | donde             => que 
      selector | :seudo-selectos | ::seudo-elemento  { content:'' }*/

nav ul li::before {
    content: "\2605";  
    color: var(--primary-color); 
    display: inline-block; 
    padding-right: 5px;
    font-size: 30px;
    visibility: hidden;
}
nav ul li:hover::before{
    visibility:visible;
}

a{
  margin:10px;
  /* cursor: pointer; */
    /* puedo poner coordenada (x,y) hasta 32 sin unidades, porque ese es el tamaño de los cursores */
    /* cursor: url("../img/cursor-pointer.png") 10 10, pointer;*/
    cursor: url("../img/cursor-pointer.png"), pointer; 
    /* cursor: help; */
    /* cursor: wait; */
    /* cursor: text; */
    /* cursor: crosshair;  */
    
  font-size:30px;  
  text-decoration: none;
}

/* Modifico los estilos según los estados de <a> */
a:link{ /*No visitado por el usuario y con href*/
    color: var(--primary-color);
}
a:active{ /*Se activa cuando el usuario pulsa el elemento*/
    background-color: var(--primary-color);
}
a:hover{ /*Elemento apuntador pasa por encima*/
    text-decoration: underline;
}
a:visited{ /*Exclusivo para enlaces*/
    color: var(--secondary-color);
}

/* Lista con viñeta centrada */
.centrar-listas {
	text-align: center;
}
.centrar-listas ul {
	text-align: left;
	display: inline-block;
}

/* Lista rayada */
/* ------------ */
ul.lista {
    list-style: none;
    padding: 0;
    margin: 20px auto;
    width: 80%;
}
ul.lista li {
    margin: 0;
    padding: 8px 10px;
    color: #111;
}		
ul.lista li:nth-child(odd) { /* filas impares */
    background-color: #e5e5e5;
}
ul.lista li:nth-child(even) { /* filas pares */
    background-color: #887e7e;
}

/* Textos y otros elementos */
/* ======================== */

/*    Tooltip   */
/* ------------ */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted var(--primary-color);
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color:var(--primary-color);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }

/** Modifico a .tooltiptext cuando .tooltip cambis de estado a :hover **/
.tooltip:hover .tooltiptext {
visibility: visible;
}


/* Otras pruebas en los textos */
/* --------------------------- */
/* p:nth-child(odd){ font-size: 1.5em; color:var(--primary-color) } */
p:nth-child(2n+1){ font-size: 1.5em; color:var(--primary-color)}

/* p:nth-child(even){ color:  var(--secondary-color)} */
p:nth-child(2n){ color:  var(--secondary-color)}

/* p:first-child{ font-size: 1.5em; } 
p:last-child{ color:  var(--secondary-color) }
p:nth-child(3){ color:var(--primary-color) } */

p:nth-child(2n)::after {
    content: " - Continuará...";
    color:  var(--primary-color);
}  

/* algunos seudo-elementos mas*/
h1::first-letter{
    color: var(--primary-color);
}
p::first-line{
    color: white;
}
h1::selection{
    background-color: var(--primary-color);
}

/* Dialogo-perrito */
/* --------------- */
.dialogo {
	background: var(--secondary-color);
	padding: 10px;
	color: #000;
	margin: 30px auto;
	border-radius: 15px;
	font-size: 18px;
	line-height: 28px;
    text-align: center;
    width: 200px;
    /*Agrego position relative porque voy a añadir el 
    triangulito para la viñeta y el perrito con position absolute */
	position: relative;
}

/** ... añadir el triagulito para formar la viñeta **/
.dialogo::before{
    content: '';
    display: block;
    position: absolute;
    bottom: -40px;
    border-top: 20px solid var(--secondary-color);
    border-right: 20px solid transparent ;
    border-left: 20px solid transparent;
    border-bottom: 20px solid transparent;
    right: calc(50% - 20px);
}

/** ... añadir el perrito **/
.dialogo::after{ 
    content: url("../img/perro.gif");
    display:block;
    position: absolute;
    bottom: -150px;
}


/*  Formularios */
/* ------------ */
form input {
    margin: 0 15px 0 10px;
}
input[type=submit],
input[type=reset] {
    background-color: var(--primary-color);
    border: none;
    color: #fff;
    width: unset;
}
input[type=submit]:hover,
input[type=reset]:hover {
    background-color: var(--secondary-color);
    color: #fff;
}
input::placeholder {
    color: #999
}
input:focus::placeholder{
    color: transparent; 
}
input[type=text][name=nombre]:invalid,
input[type=email]:invalid {
    border: 2px solid var(--primary-color);
}
input[type=text]:valid,
input[type=email]:valid {
    border: 2px solid green;
}
input:disabled{
    background-color: #222;
    border: 1px solid var(--secondary-color);
}
/* asterisco en label required */
.required::before{
    content: "*"; 
    color: var(--primary-color); 
    margin-left: 5px;
    font-size: 20px;
}
/* opcion automática */
/* fieldset div{
    display: inline-flex;
    flex-direction: row-reverse;
}
input:required + label::before { 
    content: "*"; 
    color: var(--primary-color); 
    margin-left: 5px;
    font-size: 20px;
}  */

