@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
body {
  font-family: "Inter", sans-serif;
}
img {
  width: 100%;
  height: 100%;
}

.logo img {
  width: 40%;
  display: block;
  margin: 0 auto;
}
h3 {
  text-align: center;
  font-size: 1rem;
}
.exercice {
  display: flex;
  width: 100%;
}
.exercice-complete img {
  width: 100%;
  height: 100%;
}
.exercice-complete {
  background: blue;
  width: 50%;
}
.excercice-incomplete {
  background: red;
  width: 50%;
  display: grid;
  grid-template-columns: 2 1fr;
  grid-template: 2 1fr;
  grid-template-areas: 
  "lado1 lado2"
  "lado3 lado4";
}
.grid-one {
  /* grid-area: lado4; */
  grid-column: 2/3;
  grid-row: 2/3;
}
.grid-two {
  /* grid-area: lado1; */
  grid-column: 1/2;
  grid-row: 1/2;
}
.grid-three {
  /* grid-area: lado2; */
  grid-column: 2/3;
  grid-row: 1/2;
}
.grid-four {
  /* grid-area: lado3; */
  grid-column: 1/2;
  grid-row: 2/3;
} 

