@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
:root {
  --gray: #222222;
  --red: #fc200c;
  --green: #39b24a;
  --lightWhite: #f3f3f3;
  --white: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--lightWhite);
  font-family: "Roboto", sans-serif;
}

header {
  background: var(--gray);
  color: var(--white);
  padding: 0.5rem 1.25rem;
  /*flex*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  align-items: center;
   /* flex-wrap: wrap; */
}
/* Esto es por si uso el icono en el html  */
header nav .fas{
  display: none; 
}

header nav ul {
  display: flex;
  gap: 13px;
}


header .header__logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

header .header__logo span,
footer .footer__logo span {
  color: var(--green);
}
header .header__logo span:nth-child(2),
footer .footer__logo span:nth-child(2) {
  color: var(--red);
}
main {
    /* padding: 35px 0px; */
    /* Alto del main: alto viewport - alto Header - alto Footer 
       Me aseguro que el main ocupa todo el alto disponible */
    min-height: calc(100vh - 100px - 150px);  
      display: flex;
    justify-content: center;
    align-items: center;
}
main .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
main section .card {
  border-radius: 5px;
  height: 21.875rem; /* 350px/16px (16px=1rem) */
  width: 27rem;
    /* 490px/16px (16px=1rem) */
}

main section .delivery {
  background: url("../img/delivery.jpg");
  color: var(--red);
  font-size: 1.5rem;
  font-weight: bold;
  padding: 20px;
}
main section .delivery span {
  color: var(--lightWhite);
}
main section .podio {
  background: #fff;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
main section .podio h3 {
  color: var(--red);
  font-size: 24px;
  text-align: center;
  padding: 26px;
  width: 100%;
}
.podio .top5 .podio__pizzas h4 {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 20px;
}
.top5 {
  display: flex;
  justify-content: center;
  gap: 88px;
}
.top5 .podio__pizzas ol li {
  padding: 10px 0px;
}
.top5 .podio__img {
  padding-bottom: 60px;
  align-items: flex-end;
  display: flex;
}

footer {
  background: #222;
  padding: 19px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer__logo {
  color: var(--lightWhite);
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
}
footer ul {
  color: var(--lightWhite);
  /*Sacamos flex*/
  display: flex;
  flex-direction: column;
  gap: 12px;
  order: -1;
  /*Sacamos flex*/
}


@media screen and (max-width:  768px) {
  /* - Acomodar el header esté en columna */
  header{
    flex-direction: column;
  }
}
@media screen and (max-width:  480px) {
   /* - Volver el header a fila
      - Ocultar los botones de nav (del header)
      - Añadir el ícono hamburguesa */
    header{
      flex-direction: row;
    }
    header nav ul{
        display: none;
        /* visibility: hidden; */
    }
    /* Esto es por si uso el icono en el html  */
    header nav i.fas{
      display: inline; 
      font-size: 2rem;
      color: var(--lightWhite);
      border: 2px solid var(--lightWhite);
      border-radius: 5%;
      padding: 2px 5px;
    };
    /* Esto es por si NO uso el icono en el html  */
    /* header nav::before{
        content: '\f0c9';
        font-family: "Font Awesome 5 Free"; 
        font-weight: 400;
        font-size: 2rem;
        color: var(-);
    } */
    
    main {
     width: 100%;  /* 490px/16px (16px=1rem) */
    }
}