@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

:root{
    --bg-page: #ffffff;
    --text-page: #333;
}
*{
     box-sizing: border-box;
     margin: 0;
     padding: 0;
}
body{
    font-family: 'Inter', sans-serif;
    color: var(--text-page);
    background-color: var(--bg-page);
    max-width: 90%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}
hr{
    margin: 20px 0;
    background-color: var(--text-page);

}
span {
    font-weight: bolder;
}

h3 {
    margin-top: 20px;
}
picture{
    align-self: center;
}
picture img{
     border: 2px solid var(--text-page);

}
@media (prefers-color-scheme: dark){
    :root{
        --bg-page: #000;
        --text-page: #fff;
    }
}
@media screen and (min-width: 950px){
    body{
        max-width: 60%;
        margin: 10vh auto;
        flex-direction: row;
        gap: 10vh;
   }
   picture{
    align-self: flex-end;
    width: 50vw;
   }
}



