*{
    margin:0;
    padding: 0;
}

main {
    font-family: 'Dancing Script', cursive;
}
.banner{
    height:500px;
    width: 100%;
    background-image: url("./img/lemon-pie\ 1.jpg");
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    color: white;
    padding: 20px;
}
.banner img{
opacity: 0.7;
}
.banner h1{
    font-size: 100px;
}
.banner p{
    width: 80%;
    font-size: 30px;
    margin: 50px;
}
.ingredientes{
    margin: 50px;
    font-size: 20px;
}

.instrucciones{
    margin: 50px;
    font-size: 20px;
}