@import url('https://fonts.googleapis.com/css2?family=Pompiere&display=swap');

/* GLOBAL */
* *, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    width: 100%;
}

body {
    background-color: #fff;
    font-family: 'pompiere', sans-serif;
    font-size: 2em;
}
main{
    width: 100%;
}
section{
    scroll-margin: 70px 0 0 50px;
}
p{
    margin: 0 0 40px 40px;
}
li {
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
}
a:hover{
    text-decoration: none;
    color:#4CE5D0;
}

button {
    max-width: 150px;
    width: 100%;
    height: 30px;
    margin: 0;
    border: 0;
    border-radius: 2em;
}

button:hover {
    transition: background-color 1s;
}

/* MENU*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2.5%;
   background-color:#9088e0;
    height: 70px;
    width: 100%;
    position: fixed;
}

header img{
    width: 50px;
}
.menu ul{
     display: inline-flex;
    transition: all 200ms ease-in;
}
.menu li{
    font-size: 20px;
    padding: 5px;
    justify-content:flex-end;
}

/*BANNER*/
.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 620px;
    margin: 0;
    color: white;
    background: url("../img/bannerhomeintroinfo.png");
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
}
.banner h1{
    color: #CF9EAC;
    margin: 80px 0 10px 0;
    font-size: 2.5em;
}
.banner button{
    background-color: #4CE5D0;
    color: #fff;
}
.banner button a{
    color: #CF9EAC;
}
.banner button:hover{
    background-color: #9088e0;
    color: #fff;
}

/*Section Sobre la materia*/

.sobrelamateria{
    background-color: #9088e0;
    color: #fff;
    width: 100%;
    height: 300px;
}
.sobrelamateria h2{ 
text-align: center;
padding: 30px;
}
.sobrelamateria button{
    margin: 0 auto;
    display: block;
    color: #fff;
    padding: 0px;
    background-color: #CF9EAC;
}
/*Proyectos*/
.proyectos h2{
    color: #9088e0;
    text-align: center;
    padding: 30px;
}
.cards{
  padding: 1.5em;
    margin: 0 auto;
      /*  max-width: 1280px;
 display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1em; */
}
.bimestre h4{
color: #CF9EAC;
}
.bimestre a{
 color: #9088e0;
}
.bimestre a:hover{
    color: #CF9EAC;
}

/*Footer*/

.contacto{
width: 100%;
height: 400px;
background-color: #CF9EAC;
color: #fff;
display: flex;
padding: 100px;
}

.contacto ul{
justify-content: space-around;    
padding: 70px;
}