@import url('https://fonts.googleapis.com/css2?family=Pompiere&display=swap');

/* GLOBAL */
* *, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
    font-family: 'pompiere', sans-serif;
    font-size: 1.3em;
}

#page-wrapper {
    position: relative;
}

li {
    list-style: none;
}

a {
    color: #4ce4d3;
    text-decoration: none;
}

.container {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
}

.btn {
    padding: 0 20px;
    height: 40px;
    font-size: 1em;
    font-weight: 900;
    text-transform: uppercase;
    border: 3px #4ce4d3;
    border-radius: 2px;
    background: transparent;
    cursor: pointer;
}

.grid {
    display: flex;
}

header {
    position: fixed;
    top: 0;
    min-height: 20px;
    width: 100%;
    margin: 0;
    padding: 0px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#9088e0;
}



/*MEDIAS*/
@media (max-width: 600px) {
    header {
        flex-wrap: wrap;
    }
}

.logo {
    margin: 0px;
    ;
    width: 50%;
}

@media (max-width: 650px) {
    .logo {
        margin-top: 15px;
        width: 100%;
        position: relative;
    }
}

.logo>img {
    width: 50%;
    height: 100%;
    max-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20px;
}

@media (max-width: 650px) {
    .logo>img {
        margin: 0 auto;
    }
}

nav {
    font-weight: 10px;

}

@media (max-width: 650px) {
    nav {
        margin-top: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 50px;
    }

    nav li {
        padding-bottom: 5px;
    }
}

nav>ul {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


@media (max-width: 650px) {
    nav>ul {
        flex-direction:row;
        justify-content:space-around;
    }
}

@media (max-width: 650px) {
    #home {
        margin-top: 120px;
    }
}

/* HOME */
#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 500px;
    margin: 70px 0 80px 0;
    color: white;
    background: url("../img/bannerhome.png");
    background-attachment: scroll;
    background-size: cover;

}

#home h2 {
    margin: 70px 0 10px 0;
    font-size: 2.5em;
    word-wrap: break-word;
}

#home button {
    max-width: 150px;
    width: 100%;
    height: 30px;
    margin: 15px 0;
    border: 0;
    background-color: white;
}

#home button:hover {
    background-color: #CF9EAC;
    transition: background-color 1s;
}

/*Sobre mi*/

#sobremi{
    margin: 50px 20px 0px 20px;
    height: 400px;
    display: flex;
    align-items: center;
    position: center;
    text-align: justify;
    font-size: larger;
    color: #9088e0;
    position: center;

}

#sobremi h2{
    color: #4ce4d3;
}

#sobremi button{
    align-self: center;
    width: 20%;
    height: 30px;
    margin: 15px 0;
    border: 0;
    background-color:#9088e0 ;
}
#sobremi button:hover {
    background-color:#CF9EAC;
    transition: background-color 1s;
}

/*formacion*/

#formacion {
    margin: 50px 20px 0px 20px;
    height: 500px;
    align-items: center;
    text-align: justify;
    font-size: larger;
}

#formacion h2{
color:#4ce4d3;
}

#formacion p{
    color: #9088e0;
}
#formacion a{
    color: #4ce4d3;
}

/*proyectos*/
#proyectos{
    margin: 150px 0px 0px 0px;
    width:100%;
    height: 500px; /* Agrandar al agregar bimestres*/
    background-color: #9088e0;
}

.bimestre{
  text-align: center;
  font-size: 1.3em;
  width: 30%;
  margin: 0px;
  border: 2px solid #CF9EAC;
  border-radius: 3px;
}
.bimestre h4{
    color: #fff;
}

/* footer */
/*contacto */
.footer{
    max-width: 100%;
    
}
.section__title--contact{
    background-color:#CF9EAC;
    text-align: center;
    font-size:2em;
    color: #9088e0;
    margin:0;
    height: 100px;
    padding: auto;

}

.section__subtitle--contact {
    text-align: center;
    color: #9088e0;
    font-size: 1.3em;
    margin-top: 0;
    background-color: #CF9EAC;
}
.section__subtitle--contact__mail{
    background-color: #CF9EAC;
    color: white;
    text-decoration: none;
    text-align: center;
    height: 100px;
    font-size: larger;
    
}

.footer a {
    color: inherit;
    text-decoration: none;
}

.footer__link:hover,
.social-list__link:hover {
    opacity: 0.6;
}

.social-list {
    list-style: none;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: #CF9EAC;
}

.social-list__item {
    margin: 0 0.5em;
    max-width: 50px;
}

.social-list__link {
    padding: 0.5em;
}
.social-list__icon{
  width: 50px;
}